* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
body {
  background-color: #444;
  font-family: 'Roboto';
}
.postit {
  width: 250px;
  height: 400px;
  padding: 10px;
  position: relative;
}
.white {
  background-color: #fff;
}
.yellow {
  background-color: palegoldenrod;
}
.flexcontainer {
  display: flex;
}
.spacebetween {
  justify-content: space-between;
}
.flexstart {
  justify-content: flex-start;
}
.small {
  font-size: 10pt;
}
.large {
  font-size: 16pt;
}
.circlecontainer {
  flex: 0 0 15px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
footer {
  position: absolute;
  bottom: 10px;
}
.text {
  position: relative;
  top: 150px;
}
.timespan {
  position: relative;
  top: 130px;
}
.time {
  position: relative;
  top: 110px;
  float: left;
}
.timeline {
  position: relative;
  top: 120px;
}
.timeline::before {
  content: "";
  display: block;
   position: relative;
   border-radius: 5px 5px 0 0;
   width: 10px;
   height: 5px;
   float: left;
   background-color: black;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
hr {
  width: 100%;
}